* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

.app-wrapper {
  display: flex;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}


/* Ẩn checkbox gốc */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

/* Khi checked: màu nền và biểu tượng check */
input[type="checkbox"]:checked {
  background-color: #4caf50; /* màu xanh nhẹ */
  border-color: #4caf50;
}

/* Tạo dấu check bằng pseudo-element */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Hover hiệu ứng */
input[type="checkbox"]:hover {
  border-color: #999;
}

/* Disabled */
input[type="checkbox"]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
