.calendar-view {
  height: 100%;
}

.fc .fc-event {
  border-color: rgb(219, 219, 219);
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 4px;
  font-size: 0.85rem;
  color: white;
}

.fc .fc-daygrid-event-dot {
  display: none;
}

.fc {
  height: 100% !important;
}