/* Căn chỉnh layout */
.calendar-view {
  height: 100%;
}

.fc-toolbar.fc-header-toolbar {
  margin: 12px;
  padding: 0 12px;
}

/* Hover task */
.fc-event:hover {
  opacity: 0.9;
}

/* Đường phân chia hàng ngang */
.fc-scrollgrid-sync-table tr {
  border-bottom: 1px solid #eee;
}

/* Thanh cuộn đẹp */
.fc-scroller::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.fc-scroller::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

/* Tự động fit chiều cao theo nội dung */
.fc-resource {
  height: auto !important;
}